&__item {
    position: absolute;
    transform: translateX(100%);
    transition: transform 1s ease-in-out;

    &.is-active {
        transform: translateX(0);
    }

    img {
        display: block;
        width: 100%;
    }
}